.progress {
  display: grid;
  place-items: center;
}

.progress-bar {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: linear-gradient(blue, #eff3f6);
}

.progress-bar:before {
  content: "";
  position: absolute;
  height: 85%;
  width: 85%;
  background-color: #ffffff;
  border-radius: 50%;
}
